---
title: Vérification
order: 4
---

# Vérification

> [!DANGER]
> Pour le moment, **il n'est pas nécessaire** de prouver que vous faites partie du CPES pour jouer. En cas de dispute ou de problème, nous pourrions activer cette commande. Cependant, pas d'inquiétude : nous n'allons pas vous demander de justificatifs d'identité.
