---
title: Vérification
order: 4
---

# Vérification

> [!DANGER]
> Pour le moment, **il n'est pas nécessaire** de prouver que vous faites partie du CPES pour jouer. En cas de dispute/problème/autre, nous pourrions activer cette commande. Cependant, pas de panique, nous n'allons pas faire comme discord et vous demander votre carte d'identité. Sinon moi je suis dans la sauce...
