---
title: Vérification
order: 5
---

# Vérification

> [!DANGER]
> Pour le moment, **il n'est pas nécessaire** de prouver que vous faites partie du CPES pour jouer. En cas de dispute ou de problème, nous pourrions activer cette commande. Cependant, pas d'inquiétude : nous n'allons pas vous demander de justificatifs d'identité.

## Fonctionnement

Nous utilisons vos adresses email universitaires pour vérifier que vous faites bien parti d'un CPES. 

## Données & Vie privée

Nous savons que faire confiance à un petit serveur Minecraft paumé, c'est pas évident. Pour cette raison, nous avons pris les mesures suivantes :

- Pour le moment, **aucunes données** ne sont stockés ni dans le code, ni dans le serveur pendant la vérification. Nous utilisons le nom de l'université comme première vérification, et un élève de votre formation vérifie chaque email individuellement.
- **Seul votre formation  (ex: saclay) et votre groupe (ex: L1) ne sont stockés**. Votre nom & prénoms ne sont pas liés à votre compte minecraft
- Les comptes que vous vérifiez sont liés à votre compte Minecraft, et non à votre adresse email.
